#all-containers {
	margin: 0 auto;
	width: 700px;
}

.container {

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	flex-grow: 1;
	width: 700px;

}

.container:hover {
	opacity: 0.85;
}
.container:last-of-type {
	margin-bottom: 32em;
}

/* Medium screens */
@media all and (max-width: 800px) {
	#all-containers {
		max-width: 100%;
	}

	.container {
		/* When on medium sized screens, we center it by evenly distributing empty space around items */
		justify-content: space-around;
		max-width: 100%;
		flex-direction: column;
	}

}

/* Small screens */
@media all and (max-width: 500px) {

	.container {
		flex-direction: column;
		justify-content: space-around;
		max-width: 100%;

		#all-containers {
			justify-content: space-around;
			max-width: 100%;
		}

	}
}

#about {
	order: 2;
	background-color: $dark-blue;
}

#work {
	order: 2;
	background-color: $light-blue;
}

#education {
	order: 2;
	background-color: $yellow;
	flex-grow: 2;
}

#accomplishments {
	order: 2;
	background-color: $red;
}

#contact {
	order: 2;
	background-color: $maroon;
	flex-grow: 2;
}

.icon {
	text-align: center;
}
