#about {
}

body {
	line-height: 1.62;
}

a {
	color: $maroon;
	font-weight: 300;
	font-family: $condensed;
	font-style: italic;
	text-decoration: underline;
	font-size: 1em;
}
#contact {
	a {
		color: $yellow;
	}
}

::selection {
  background-color: $highlight; /* WebKit/Blink Browsers */
}

strong {
	color: $keyword;
	font-weight: 300;
}

#work, {
	.row1 {
		display: block;
	}
	.place {
		font-family: $serif;
		font-weight: 400;
		margin-bottom: 0em;
		margin-top: 2em;
		font-size: 1.8em;
	}
	.date {
		font-size: 0.8em;
		margin-top: 0em;
		margin-bottom: 2em;
		font-weight: 100;
	}
	.position {
		margin-top: 0em;
		margin-bottom: 0em;
		font-size: 1em;
		font-weight:200;
	}
	.description {
		margin-top: 0em;
		font-style: oblique;
		font-size: 1.1em;
	}
	ul {
		margin-bottom: 1em;
	}
	li {
		font-size: 1.0em;
		padding-bottom: 1.0em;
	}
}

#education, {
	.row1 {
		display: block;
	}
	.place {
		font-family: $serif;
		font-weight: 400;
		margin-bottom: 0em;
		margin-top: 2em;
		font-size: 1.8em;
	}
	.date {
		font-size: 0.8em;
		margin-top: 0em;
		margin-bottom: 2em;
		font-weight: 100;
	}
	.position {
		margin-top: 0em;
		margin-bottom: 0em;
		font-size: 1em;
		font-weight:200;
	}
	.description {
		margin-top: 0em;
		font-style: oblique;
		font-size: 1.1em;
	}
	li {
		font-size: 1.0em;
		padding-bottom: 1.0em;
	}
}
#accomplishments, {
	.row1 {
		display: block;
	}
	.place {
		font-family: $serif;
		font-weight: 400;
		margin-bottom: 0em;
		margin-top: 2em;
		font-size: 1.8em;
	}
	.date {
		font-size: 0.8em;
		margin-top: 0em;
		margin-bottom: 2em;
		font-weight: 100;
	}
	.position {
		margin-top: 0em;
		margin-bottom: 0em;
		font-size: 1em;
		font-weight:200;
	}
	.description {
		margin-top: 0em;
		font-style: oblique;
		font-size: 1.1em;
	}
	li {
		font-size: 1.0em;
		padding-bottom: 1.0em;
	}
	a {
		color: $yellow;
	}
}
/* Small screens */
@media all and (max-width: 500px) {
	#all-containers {
		max-width: 100%;
	}
  .container {
    /* On small screens, we are no longer using row direction but column */


  h3 {
	  font-size: 1.5em;
  }
  p {
	  font-size: 0.7em;
  }
  .place {
	  font-size: 0.8em;
  }
  .hidden-text {
	  padding-right: 0.8em;
	  padding-left: 1em;
	  margin-bottom: 1em;
	  #work, accomplishments, #education {
	  h4 {
		  font-size: 0.8em;
	  }
	  a {
		  font-size: 0.6em;
	  }
	  .project {
		  font-size: 2em;
	  }
	  li {
		  font-size: 0.4em;
	  }
  }
}
    flex-direction: column;
    max-width: 100%;
  }
}
