body {
	line-height: 1.62;
}

.container {

	color: $white;
	p {
		font-family: $serif;
		font-weight: 100;
	}

	h3 {
		display: block;
		font-family: $sans;
		font-weight: 300;
		font-size: 3em;
		padding-bottom: 0.3em;
		padding-top: 0.3em;
		margin-top: 1.5em;
		margin-bottom: 0em;
		padding-left: 1em;
		padding-right: 1em;
		text-align: center;
	}

	a {
		color: $dark-blue;
		font-weight: 500;
		font-family: $serif;
		font-style: italic;
		text-decoration: underline;
	}

	li {
		font-family: $serif;
		font-weight: 100;
		margin-bottom: 0.5em;
	}

	#gpa {
		font-family: $serif;
		font-weight: 300;
	}

}

.hidden-text {
	font-size: 0em;
	opacity: 0;
	margin: 2.5em;
}

#work {
}

#education {
}

#accomplishments {
}

#contact {
	a {
		color: $yellow;
	}
}

.place {
	display: block;
	font-family: $sans;
	font-size: 2.5em;
	margin-bottom: 0em;
	line-height: 1em;
}

.link {
	font-size: 1.2em;
	margin-top: 0em;
	a {
		font-family: $sans;
		font-weight: 100;
	}
}

.position {
	margin-bottom: 0em;
	font-size: 1.5em;
	font-family: $serif;
}

.date {
	margin-top: 0em;
	font-family: $serif;
	font-style: italic;
}

.project {
}

.icon {
}

#contact {
	text-align: center;
}

::selection {
	background-color: $highlight; /* WebKit/Blink Browsers */
}

strong {
	color: $keyword;
	font-weight: 300;
}

/* Medium screens */
@media all and (max-width: 800px) {
	#all-containers {
		max-width: 100%;
	}
	.container {
		/* When on medium sized screens, we center it by evenly distributing empty space around items */
		justify-content: space-around;
		max-width: 100%;
	}
}

/* Small screens */
@media all and (max-width: 500px) {

	#title h2 {
		font-size: 2em;
	}
	#all-containers {
		max-width: 100%;
	}
	.container {
		h3 {
			font-size: 1.8em;
		}

		.hidden-text {
			margin: 1em;
			margin-bottom: 2em;
			p {
				font-size: 0.9em;
				padding: 1.2em;
			}
		}
	}
}
