#about {
}

body {
	line-height: 1.62;
}

a {
	color: $maroon;
	font-weight: 300;
	text-decoration: underline;
}
#contact {
	a {
		color: $yellow;
	}
}

::selection {
  background-color: $highlight; /* WebKit/Blink Browsers */
}

strong {
	color: $keyword;
	font-weight: 300;
}

#work, {
	.row1 {
		display: block;
	}
	.place {
		font-weight: 400;
		margin-bottom: 0em;
		margin-top: 2em;
		font-size: 1.8em;
	}
	.date {
		font-size: 0.8em;
		margin-top: 0em;
		margin-bottom: 2em;
		font-weight: 100;
	}
	.position {
		margin-top: 0em;
		margin-bottom: 0em;
		font-size: 1em;
		font-weight:200;
	}
	.description {
		margin-top: 0em;
		font-style: oblique;
		font-size: 1.1em;
	}
	li {
		font-size: 1.0em;
		padding-bottom: 1.0em;
	}
}

#accomplishments {
	a {
		color: $yellow;
	}
}

#education, {
	.row1 {
		display: block;
	}
	.place {
		font-weight: 400;
		margin-bottom: 0em;
		margin-top: 2em;
		font-size: 1.8em;
	}
	.date {
		font-size: 0.8em;
		margin-top: 0em;
		margin-bottom: 2em;
		font-weight: 100;
	}
	.position {
		margin-top: 0em;
		margin-bottom: 0em;
		font-size: 1em;
		font-weight:200;
	}
	.description {
		margin-top: 0em;
		font-style: oblique;
		font-size: 1.1em;
	}
	li {
		font-size: 1.0em;
		padding-bottom: 1.0em;
	}
}
