//Colors
$off-white: #DBFFF3;
$red: #A8201A;
$yellow: #EC9A29;
$light-blue: #0F8B8D;
$dark-blue: #143642;
$background-white: #FDFDFF;
$highlight: #6A0136;
$keyword: #F98B7A;


// Google fontsimports
$bree: 'Bree Serif', serif;
$comfortaa: 'Comfortaa', cursive;
$patua: 'Patua One', cursive;
$slabo: 'Slabo 27px', serif;
$ptsans: 'PT Sans Narrow', sans-serif;
$sanchez: 'Sanchez', serif;

//Fonts
$title-font: $sanchez, serif;
$category-title-font: $patua;

//Spacing
$gutter: 30px;
