#title {
	text-align: center;
	color: $dark-blue;
	font-family: 'Sanchez';

	h1 {
		font-size: 4em;
		margin-bottom: 0;
		margin-top: $gutter;
	}
	h2 {
		font-size: 3em;
		margin-top: $gutter/2;
	}
}
