#title
  %h1 Hello,
  %h2 I'm Michael Wright

#all-containers
  .container#about
    %h3 About Me
  .container#work
    %h3 Work
  .container#education
    %h3 Education
  .container#accomplishments
    %h3 Accomplishments
