#title
  %h1 Hello,
  %h2 I'm Michael Wright

#all-containers
  .container#about
    %p About Me
  .container#work
    %p Work
  .container#education
    %p Education
  .container#accomplishments
    %p Accomplishments


