@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,500,500italic,300italic,700italic|Arvo:400,400italic,700,700italic|Roboto:400,300,100,500italic,300italic,900italic,900,100italic|Comfortaa:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);
/* line 4, /Library/Ruby/Gems/2.0.0/gems/neat-1.7.2/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box; }

/* line 9, /Library/Ruby/Gems/2.0.0/gems/neat-1.7.2/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit; }

/*
@import url(//fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|Roboto:500,900italic,900,400italic,700italic,300,700,500italic,300italic,400|Roboto+Condensed:300italic,400italic,700italic,400,300,700);
@import url(//fonts.googleapis.com/css?family=Sanchez:400italic,400);
@import url(http://fonts.googleapis.com/css?family=Contrail+One|Fugaz+One|Unica+One|Monoton);
@import url(http://fonts.googleapis.com/css?family=Lobster+Two:700italic);
@import url(https://fonts.googleapis.com/css?family=Sanchez|Comfortaa|Patua+One|Slabo+27px|Bree+Serif|PT+Sans+Narrow);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,200,100);
*/
/*
$bree: 'Bree Serif', serif;
$comfortaa: 'Comfortaa', cursive;
$patua: 'Patua One', cursive;
$slabo: 'Slabo 27px', serif;
$ptsans: 'PT Sans Narrow', sans-serif;
$sanchez: 'Sanchez', serif;

//Fonts
$title-font: $sanchez, serif;
$category-title-font: $patua;
*/
/* line 1, /Users/mhw/michaelwright/source/assets/stylesheets/_title.scss */
#title {
  text-align: center;
  color: #143642;
  font-family: "Comfortaa", serif;
  font-weight: 700;
  text-decoration: italic;
  margin-bottom: 2em; }
  /* line 9, /Users/mhw/michaelwright/source/assets/stylesheets/_title.scss */
  #title h1 {
    font-size: 5em;
    margin-bottom: 0;
    margin-top: 30px; }
  /* line 14, /Users/mhw/michaelwright/source/assets/stylesheets/_title.scss */
  #title h2 {
    font-size: 4em;
    margin-top: 15px;
    font-weight: 700;
    display: inline;
    padding-bottom: 1em; }

/* line 1, /Users/mhw/michaelwright/source/assets/stylesheets/_boxes.scss */
#all-containers {
  margin: 0 auto;
  width: 700px; }

/* line 6, /Users/mhw/michaelwright/source/assets/stylesheets/_boxes.scss */
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  width: 700px;
  opacity: 0.85; }

/* line 18, /Users/mhw/michaelwright/source/assets/stylesheets/_boxes.scss */
.container:hover {
  opacity: 1 !important;
  cursor: pointer; }

/* line 23, /Users/mhw/michaelwright/source/assets/stylesheets/_boxes.scss */
.container:last-of-type {
  margin-bottom: 32em; }

/* Medium screens */
@media all and (max-width: 800px) {
  /* line 29, /Users/mhw/michaelwright/source/assets/stylesheets/_boxes.scss */
  #all-containers {
    max-width: 100%; }

  /* line 33, /Users/mhw/michaelwright/source/assets/stylesheets/_boxes.scss */
  .container {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
    max-width: 100%;
    flex-direction: column; } }
/* Small screens */
@media all and (max-width: 500px) {
  /* line 45, /Users/mhw/michaelwright/source/assets/stylesheets/_boxes.scss */
  .container {
    flex-direction: column;
    justify-content: space-around;
    max-width: 100%; }
    /* line 50, /Users/mhw/michaelwright/source/assets/stylesheets/_boxes.scss */
    .container #all-containers {
      justify-content: space-around;
      max-width: 100%; } }
/* line 58, /Users/mhw/michaelwright/source/assets/stylesheets/_boxes.scss */
#about {
  order: 2;
  background-color: #143642; }

/* line 63, /Users/mhw/michaelwright/source/assets/stylesheets/_boxes.scss */
#work {
  order: 2;
  background-color: #0F8B8D; }

/* line 68, /Users/mhw/michaelwright/source/assets/stylesheets/_boxes.scss */
#education {
  order: 2;
  background-color: #EC9A29;
  flex-grow: 2; }

/* line 74, /Users/mhw/michaelwright/source/assets/stylesheets/_boxes.scss */
#accomplishments {
  order: 2;
  background-color: #A8201A; }

/* line 79, /Users/mhw/michaelwright/source/assets/stylesheets/_boxes.scss */
#contact {
  order: 2;
  background-color: #63212A;
  flex-grow: 2; }

/* line 85, /Users/mhw/michaelwright/source/assets/stylesheets/_boxes.scss */
.icon {
  text-align: center; }

/* line 1, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
body {
  line-height: 1.62; }

/* line 5, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
.container {
  color: #FFFFFF; }
  /* line 8, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
  .container p {
    font-family: "Roboto Slab", serif;
    font-weight: 100; }
  /* line 13, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
  .container h3 {
    display: block;
    font-family: "Comfortaa", sans-serif;
    font-weight: 300;
    font-size: 3em;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    margin-top: 1.5em;
    margin-bottom: 0em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center; }
  /* line 27, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
  .container a {
    color: #143642;
    font-weight: 500;
    font-family: "Roboto Slab", serif;
    font-style: italic;
    text-decoration: underline; }
  /* line 35, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
  .container li {
    font-family: "Roboto Slab", serif;
    font-weight: 100;
    margin-bottom: 0.5em; }
  /* line 41, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
  .container #gpa {
    font-family: "Roboto Slab", serif;
    font-weight: 300; }

/* line 48, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
.hidden-text {
  font-size: 0em;
  opacity: 0;
  margin: 2.5em; }

/* line 64, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
#contact a {
  color: #EC9A29; }

/* line 69, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
.place {
  display: block;
  font-family: "Comfortaa", sans-serif;
  font-size: 2.5em;
  margin-bottom: 0em;
  line-height: 1em; }

/* line 77, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
.link {
  font-size: 1.2em;
  margin-top: 0em; }
  /* line 80, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
  .link a {
    font-family: "Comfortaa", sans-serif;
    font-weight: 100; }

/* line 86, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
.position {
  margin-bottom: 0em;
  font-size: 1.5em;
  font-family: "Roboto Slab", serif; }

/* line 92, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
.date {
  margin-top: 0em;
  font-family: "Roboto Slab", serif;
  font-style: italic; }

/* line 104, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
#contact {
  text-align: center; }

/* line 108, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
::selection {
  background-color: #6A0136;
  /* WebKit/Blink Browsers */ }

/* line 112, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
strong {
  color: #FF8C66;
  font-weight: 300; }

/* Medium screens */
@media all and (max-width: 800px) {
  /* line 119, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
  #all-containers {
    max-width: 100%; }

  /* line 122, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
  .container {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
    max-width: 100%; } }
/* Small screens */
@media all and (max-width: 500px) {
  /* line 132, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
  #title h2 {
    font-size: 2em; }

  /* line 135, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
  #all-containers {
    max-width: 100%; }

  /* line 139, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
  .container h3 {
    font-size: 1.8em; }
  /* line 143, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
  .container .hidden-text {
    margin: 1em;
    margin-bottom: 2em; }
    /* line 146, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
    .container .hidden-text p {
      font-size: 0.9em;
      padding: 1.2em; } }
/* line 9, /Users/mhw/michaelwright/source/assets/stylesheets/application.scss */
html {
  background-color: #FDFDFF; }
