@import url(//fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|Roboto:500,900italic,900,400italic,700italic,300,700,500italic,300italic,400|Roboto+Condensed:300italic,400italic,700italic,400,300,700);
@import url(//fonts.googleapis.com/css?family=Sanchez:400italic,400);
@import url(http://fonts.googleapis.com/css?family=Contrail+One|Fugaz+One|Unica+One|Monoton);
@import url(http://fonts.googleapis.com/css?family=Lobster+Two:700italic);
@import url(https://fonts.googleapis.com/css?family=Sanchez|Comfortaa|Patua+One|Slabo+27px|Bree+Serif|PT+Sans+Narrow);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,200,100);
/* line 4, /Library/Ruby/Gems/2.0.0/gems/neat-1.7.2/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box; }

/* line 9, /Library/Ruby/Gems/2.0.0/gems/neat-1.7.2/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit; }

/* line 1, /Users/mhw/michaelwright/source/assets/stylesheets/_title.scss */
#title {
  text-align: center;
  color: #143642;
  font-family: 'Sanchez'; }
  /* line 6, /Users/mhw/michaelwright/source/assets/stylesheets/_title.scss */
  #title h1 {
    font-size: 4em;
    margin-bottom: 0;
    margin-top: 30px; }
  /* line 11, /Users/mhw/michaelwright/source/assets/stylesheets/_title.scss */
  #title h2 {
    font-size: 3em;
    margin-top: 15px;
    display: inline;
    padding-bottom: 1em; }

/* line 1, /Users/mhw/michaelwright/source/assets/stylesheets/_boxes.scss */
#all-containers {
  margin: 0 auto;
  width: 500px; }

/* line 6, /Users/mhw/michaelwright/source/assets/stylesheets/_boxes.scss */
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  color: #DBFFF3;
  text-align: center;
  justify-content: center;
  flex-grow: 1; }
  /* line 16, /Users/mhw/michaelwright/source/assets/stylesheets/_boxes.scss */
  .container h3 {
    display: block;
    font-family: "Patua One", cursive;
    font-size: 2em;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    margin-top: 1.5em;
    margin-bottom: 0em;
    padding-left: 1em;
    margin-left: 0.6em;
    padding-right: 1em; }

/* line 29, /Users/mhw/michaelwright/source/assets/stylesheets/_boxes.scss */
.icon {
  margin-bottom: 2.5em;
  text-align: center; }

/* line 34, /Users/mhw/michaelwright/source/assets/stylesheets/_boxes.scss */
.container:hover {
  opacity: 0.85; }

/* line 37, /Users/mhw/michaelwright/source/assets/stylesheets/_boxes.scss */
.container:last-of-type {
  margin-bottom: 32em; }

/* Medium screens */
@media all and (max-width: 800px) {
  /* line 43, /Users/mhw/michaelwright/source/assets/stylesheets/_boxes.scss */
  #all-containers {
    max-width: 100%; }

  /* line 46, /Users/mhw/michaelwright/source/assets/stylesheets/_boxes.scss */
  .container {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
    max-width: 100%; } }
/* Small screens */
@media all and (max-width: 500px) {
  /* line 55, /Users/mhw/michaelwright/source/assets/stylesheets/_boxes.scss */
  #all-containers {
    max-width: 100%; }

  /* line 58, /Users/mhw/michaelwright/source/assets/stylesheets/_boxes.scss */
  .container {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
    max-width: 100%; } }
/* line 66, /Users/mhw/michaelwright/source/assets/stylesheets/_boxes.scss */
#about {
  order: 2;
  background-color: #143642; }

/* line 71, /Users/mhw/michaelwright/source/assets/stylesheets/_boxes.scss */
#work {
  order: 2;
  background-color: #0F8B8D; }

/* line 76, /Users/mhw/michaelwright/source/assets/stylesheets/_boxes.scss */
#education {
  order: 2;
  background-color: #EC9A29;
  flex-grow: 2; }

/* line 82, /Users/mhw/michaelwright/source/assets/stylesheets/_boxes.scss */
#accomplishments {
  order: 2;
  background-color: #A8201A; }

/* line 87, /Users/mhw/michaelwright/source/assets/stylesheets/_boxes.scss */
.hidden-text {
  display: block;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 2em;
  margin-bottom: 3em;
  font-family: 'Work Sans';
  font-weight: 100;
  text-align: left;
  font-size: 0px;
  opacity: 0; }

/* line 4, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
a {
  color: #EC9A29;
  font-weight: 400;
  text-decoration: none; }

/* line 10, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
::selection {
  background-color: #6A0136;
  /* WebKit/Blink Browsers */ }

/* line 14, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
strong {
  color: #FF8C66;
  font-weight: 400; }

/* line 20, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
#work .row1 {
  display: block; }
/* line 23, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
#work .place {
  margin-bottom: 0em;
  font-size: 1.2em; }
/* line 27, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
#work .date {
  font-size: 0.5em;
  margin-top: 0em;
  margin-bottom: 1em; }
/* line 32, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
#work .position {
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: 1em;
  font-weight: 200; }
/* line 38, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
#work .description {
  margin-top: 0em;
  font-style: oblique;
  font-size: 0.7em; }
/* line 43, /Users/mhw/michaelwright/source/assets/stylesheets/_text.scss */
#work li {
  font-size: 0.8em; }

/* line 9, /Users/mhw/michaelwright/source/assets/stylesheets/application.scss */
html {
  background-color: #FDFDFF; }
